h1 {
    color: blue;
    text-align: center;
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

#page {
    display: flex;
    justify-content: space-between;
}

#left-container, #right-container {
    width: 15%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 사이드 간격 유지 */
    padding: 10px;
    box-sizing: border-box;
}

.plant-holder {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000; /* 각 식물에 사각형 테두리 추가 */
    box-sizing: border-box;
    height: 15%; /* 식물 홀더 높이 유지 */
}

.plant {
    max-width: 90%; /* 식물 이미지가 박스에 맞도록 비율 유지 */
    max-height: 90%; /* 높이 자동 조정 */
    object-fit: contain; /* 비율 유지하며 크기 조정 */
    
}


.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
   }
   .jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
   }

   .jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
   }
   
   .dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
   }

   .jar-glossy-long{
    width: 6%;
    height: 17%;
    background: #90d5df;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 21%;
    left: 5%;
    opacity: 0.7;
    z-index: -1;

   }

   .jar-glossy-short{
    width: 6%;
    height: 9%;
    background: #90d5df;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 41%;
    left: 5%;
    opacity: 0.7;
    z-index: -1;
   }

